h1{
    background-color: aqua;
    color: crimson;
}
h2{
    background-color: aqua;
    color: firebrick;
}
h3{
    background-color: aqua;
    color: tomato;
}
h4{
    background-color: aqua;
    color: darkred;
}
h5{
    background-color: aqua;
    color: salmon;
}